# Sample environment configuration
PROD_DISCORD_TOKEN=-your-token-here
DEV_DISCORD_TOKEN=your-token-here
# In dev, commands will be registered to this server, as it is faster than global registration
# If you dont know it: Settings -> Advanced -> Dev Mode -> Enable -> Right Click Server -> Copy Server ID
DEV_GUILD_ID=
